<!doctype html>
<html ng-app="userModule" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="css/userAdmin.css" />
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/vendor/underscore.js"></script>
    <script type="text/javascript" src="js/modules/main.js"></script>
    <script type="text/javascript" src="js/modules/user/controllers/UsersCtrl.js"></script>
    <script type="text/javascript" src="js/modules/user/proxies/UsersProxy.js"></script>
    <script type="text/javascript" src="js/modules/user/services/UserService.js"></script>
    <script type="text/javascript" src="js/modules/user/models/User.js"></script>
</head>
<body>
    <div ng-controller="controllers.UsersCtrl">
        <form>
            <input placeholder="First Name" type="text" ng-model="firstName" ng-model-instant>
            <input placeholder="Last Name" type="text" ng-model="lastName" ng-model-instant>
            <input placeholder="Age" type="text" ng-model="age" ng-model-instant>
            <button ng-click="addUser()">Add New User</button>
        </form>

        <ul>
            <li style="color:#000000;" ng-repeat="user in users">
                <input type="checkbox" ng-model="user.deleted">
                <span class="deleted-{{user.deleted}}">{{user.firstName}}, {{user.lastName}}, {{user.age}}</span>
            </li>
        </ul>
        <label>Users Amount: {{users.length}}</label></br>
        <button ng-click="deleteSelectedUser()">Delete Selected User</button>
    </div>
</body>